
body{
	font-family: 'Roboto',arial;
	margin: 0;
	padding: 20px 20px 20px 50px;
	color: #0f0f0f;
	background-color: white;
  	background-image: url("bg0.gif");
    background-repeat: repeat-y;
}

a {
	text-decoration: none;
    color: #259DCB;
}
a:hover {
	text-decoration: underline;
	color: navy;
}
h1{
	margin: 0 0 30px 0;
}
.github{
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
}
#opts{
	position: absolute;
	top: 10px;
	right: 20px;
	color: grey;
}
#opts > div{
	padding:5px;
}

.chakra1{
	background-color: #ffebee;
	border: solid 2px #f44336;
}
.chakra2{
	background-color: #fff3e0;
	border: solid 2px #ff9800;
}
.chakra3{
	background-color: #fff8e1;
	border: solid 2px #ffc107;
}
.chakra4{
	background-color: #e8f5e9;
	border: solid 2px #4caf50;
}
.chakra5{
	background-color: #e0f7fa;
	border: solid 2px #00bcd4;
}
.chakra6{
	background-color: #e8eaf6;
	border: solid 2px #3f51b5;
}
.chakra7{
	background-color: #f3e5f5;
	border: solid 2px #9c27b0;
}
