/* https://github.com/evoluteur/d3-table-cards */

.holder{
	position: relative;
}

.header{
	position: absolute;
	padding: 10px;
	background-color: #eee;
	border: solid 1px silver;
	left: 0px; 
	top: 0px; 
    width: 574px;
    height: 19px;
}
.header > div{
	float: left;
	width: 194px;
	line-height: 18px;
}
.header.sortable > div{
	cursor: pointer;
}
.item {
	position: absolute;
	border: solid 1px silver;
	background-color: white;
}
.item > div{
	position: absolute;
	line-height: 18px;
}
.c1{
	font-weight: bold;
}
