body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
    min-height: 1250px;
}
h1{
	margin-bottom: 40px;
}

#opts{
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: white;
}
#opts > div{
	padding:5px;
}

.holder{
	position: relative;
}

.header{
	position: absolute;
	padding: 10px;
	background-color: #eee;
	border: solid 1px silver;
	left: 0px; 
	top: 0px; 
    width: 574px;
    height: 19px;
}
.header > div{
	float: left;
	width: 194px;
	line-height: 18px;
}
.header.sortable > div{
	cursor: pointer;
}
.item {
	position: absolute;
	border: solid 1px silver;
	background-color: white;
}
.item > div{
	position: absolute;
	line-height: 18px;
}
.c1{
	font-weight: bold;
}

.chakra1{
	border-left: solid 5px #f44336;
	background-color: #ffebee;
}
.chakra2{
	border-left: solid 5px #ff9800;
	background-color: #fff3e0;
}
.chakra3{
	border-left: solid 5px #ffc107;
	background-color: #fff8e1;
}
.chakra4{
	border-left: solid 5px #4caf50;
	background-color: #e8f5e9;
}
.chakra5{
	border-left: solid 5px #00bcd4;
	background-color: #e0f7fa;
}
.chakra6{
	border-left: solid 5px #3f51b5;
	background-color: #e8eaf6;
}
.chakra7{
	border-left: solid 5px #9c27b0;
	background-color: #f3e5f5;
}
