
body{
	font-family: 'Roboto',arial;
	min-height: 1250px;
	margin: 0;
	padding: 20px 20px 20px 30px;
	color: black;
	background-color: white; 
}

h1{
	margin-bottom: 40px;
}
a {
	text-decoration: none;
    color: #259DCB;
}
a:hover {
	text-decoration: underline;
	color: navy;
}

#opts{
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: white;
	color: grey;
}
#opts > div{
	padding:5px;
}

.chakra1{
	background-color: #ffebee;
	border: solid 2px #f44336;
}
.chakra2{
	background-color: #fff3e0;
	border: solid 2px #ff9800;
}
.chakra3{
	background-color: #fff8e1;
	border: solid 2px #ffc107;
}
.chakra4{
	background-color: #e8f5e9;
	border: solid 2px #4caf50;
}
.chakra5{
	background-color: #e0f7fa;
	border: solid 2px #00bcd4;
}
.chakra6{
	background-color: #e8eaf6;
	border: solid 2px #3f51b5;
}
.chakra7{
	background-color: #f3e5f5;
	border: solid 2px #9c27b0;
}
